.listingListSection {
  max-width: 50vw;
  height: 85vh;
  display: grid;
  grid-template-columns: fit-content(50%) fit-content(50%);
  overflow: auto;
  padding: 0px 10px;
  gap: 10px;
}

@media only screen and (max-width: 820px) and (min-width: 501px) {
  .listingListSection {
    max-width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: fit-content(50%) fit-content(50%);
    overflow: auto;
    padding: 0px 10px;
    gap: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .listingListSection {
    max-width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: fit-content(100%);
    overflow: auto;
    padding: 0px 10px;
    gap: 10px;
  }
}
