.infoMarkerContainer {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  z-index: 20;
  border-bottom: 5px solid #1277e1;
  background-color: #fff;
  padding: 0.5em;
}

.textInfoMarkerConatiner {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infoMarkerPrice {
  font-weight: bold;
  font-size: 1.5rem;
}
