.sBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 0px;
}

.sBar input {
  border: 1px solid #b2b2b2;
  font-size: 1.1rem;
  width: 80%;
  height: auto;
  cursor: text;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

::placeholder {
  color: #b2b2b2;
}

.sBar button {
  background-color: #1277e1;
  border: 1px solid #1277e1;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  width: 10%;
  height: 150%;
  cursor: pointer;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.sBar .icon {
  font-size: x-large;
  display: inline;
  align-items: center;
  vertical-align: center;
}

@media only screen and (max-width: 1000px) {
  .searchBar {
    width: 100%;
  }

  .sBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .sBar .icon {
    font-size: large;
    display: inline;
    align-items: center;
    vertical-align: center;
  }
}
