.navbar {
  position: relative;
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  padding: 5px;
  background-color: transparent;
  z-index: 2;
}

.navbar .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}

.navbar .menu-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navbar .nav-menu {
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: flex-end;
  line-height: 45px;
}

.navbar a {
  padding: 1rem;
}

.icon {
  display: none;
}

@media screen and (max-width: 1000px) {
  .navbar {
    background-color: #fff;
  }

  .icon {
    display: block;
    margin-top: 1.4rem;
    font-size: 2rem;
    color: #333;
  }

  .menu-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 90px;
    height: 700px;
    width: 100%;
    background-color: #fff;
    transition: 0.4s ease-in-out;
    right: 100%;
  }

  .navbar .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .navbar .active {
    right: 0;
  }
}
