.mapMarker {
  font-size: 1.5rem;
  color: #c82021;
}

.mapMarker:hover {
  font-size: 1.5rem;
  color: #18ad36;
}

@media only screen and (max-width: 820px) {
  .googleMapReact {
    display: none;
  }
}
